<h1 class="text-2xl">Books!</h1>
<%= link_to "Sign Out", destroy_user_session_path, data: { "turbo-method": :delete } %>


<div class="mt-4 mb-4">
  <%= link_to 'Add a book', new_book_path, class: 'border rounded-md bg-blue-300 py-1 px-3' %> <br>
</div>

<ul>
  <% @books.each do |book| %>
    <li class="mt-2"><%= link_to book.title, book_path(book) %></li>
  <% end %>
</ul>
